<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iTextSharp" version="5.5.13" targetFramework="net46" />
  <package id="MaterialDesignColors" version="1.1.3" targetFramework="net46" />
  <package id="MaterialDesignThemes" version="2.5.0.1205" targetFramework="net46" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net46" />
  <package id="Neodynamic.SDK.ThermalLabel" version="8.0.18.1121" targetFramework="net46" />
</packages>